<div class="page">
  <h2 mat-dialog-title>{{ isEditMode ? 'Informationen des Geschäftspartners bearbeiten' : 'Neuen Geschäftspartner erfassen' }}</h2>

  <mat-dialog-content>
    <form [formGroup]="partnerForm" class="partner-form">
      <!-- Partner Name -->
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Name des Geschäftspartners</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <!-- Partner Description -->
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput formControlName="beschreibung" rows="5"></textarea>
      </mat-form-field>

      <mat-label>Anschrift</mat-label>
      <div formGroupName="anschrift">
        <!-- Partner street -->
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Straße</mat-label>
            <input matInput formControlName="strasse" required/>
        </mat-form-field>

        <!-- Partner number -->
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Hausnummer</mat-label>
            <input matInput formControlName="nummer" required/>
        </mat-form-field>

        <!-- Partner zip -->
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>PLZ</mat-label>
            <input matInput formControlName="plz" required/>
        </mat-form-field>

        <!-- Partner city -->
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Stadt</mat-label>
            <input matInput formControlName="ort" required/>
        </mat-form-field>

        <!-- Partner country -->
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Land</mat-label>
          <input matInput formControlName="land" required/>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="action-buttons">
    <button mat-button (click)="close()">Abbrechen</button>
    <button mat-raised-button color="primary" [disabled]="partnerForm.invalid" (click)="save()">Speichern</button>
  </mat-dialog-actions>
</div>